h1 {
  color: rgb(0, 139, 139);
  background-color: rgb(222, 184, 135);
}
 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  font-style: normal;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

img,
video,
iframe,
svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
}

body {background : rgb(224, 207, 187); font-style: italic;
}

*{ padding-inline: 15PX;
}
